.link{
    cursor: pointer;
  }
  .link:hover{
    color: #1f90fa;
  }
  .content{
    display: grid;
  grid-template-columns: repeat(auto-fit , 400px);
  margin-top: 10px;
  justify-content:center;
  
  gap: 10px;
  }
  .content button{
    margin-left:90px ;
    margin-bottom: 20px;
  }
  .content div div{
    border: 1px solid #666;
  }